<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apinanandwattana.comsci.sdu.toysapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".font"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".logo_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".listviewToy" />
        <activity android:name=".vt1" />
        <activity android:name=".AboutMe" />
        <activity android:name=".datadekActivity" />
        <activity android:name=".datadek2" />
        <activity android:name=".MainActivity" />
        <activity android:name=".vt2Activity" />
        <activity android:name=".vt3" />
        <activity android:name=".Vt4" />
        <activity android:name=".vt5" />
        <activity android:name=".vt6" />
        <activity android:name=".vt7" />
        <activity android:name=".vt8" />
        <activity android:name=".vt9" />
        <activity android:name=".vt10" />
        <activity android:name=".vt11" />
        <activity android:name=".vt12" />
        <activity android:name=".vt13" />
        <activity android:name=".vt14" />
        <activity android:name=".vt15" />
        <activity android:name=".datadek03" />
        <activity android:name=".datadek02" />
        <activity android:name=".datadek04" />
        <activity android:name=".datadek05" />
        <activity android:name=".datadek6"></activity>
    </application>

</manifest>